<div class="professional-info content-panel" >
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/csharp-logo.png" alt="C# logo" />
    </div>
    <div class="item-description third-bg-color">
      <div class="item-description-header">
        <h3>C#</h3>
        <p>30 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/mssql-logo.png" alt="MS SQL logo" />
    </div>
    <div class="item-description secondary-bg-color">
      <div class="item-description-header">
        <h3>MS SQL</h3>
        <p>30 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/azure-logo.png" alt="Azure logo" />

    </div>
    <div class="item-description primary-bg-color">
      <div class="item-description-header">
        <h3>Azure</h3>
        <p>6 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/angular-logo.png" alt="Angular logo" />

    </div>
    <div class="item-description secondary-bg-color">
      <div class="item-description-header">
        <h3>Angular</h3>
        <p>4 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/html5-logo.png" alt="HTML5 logo" />

    </div>
    <div class="item-description secondary-bg-color">
      <div class="item-description-header">
        <h3>HTML 5</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/javascript-logo.png" alt="JavaScrip logo" />

    </div>
    <div class="item-description fifth-bg-color">
      <div class="item-description-header">
        <h3>JavaScript</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/css3-logo.svg" alt="CSS3 logo" />

    </div>
    <div class="item-description primary-bg-color">
      <div class="item-description-header">
        <h3>CSS 3</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/jQuery-logo.gif" alt="jQuery logo" />

    </div>
    <div class="item-description primary-bg-color">
      <div class="item-description-header">
        <h3>jQuery</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/bootstrap-logo.png" alt="Bootstrap logo" />

    </div>
    <div class="item-description third-bg-color">
      <div class="item-description-header">
        <h3>Bootstrap</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">

      <img class="photo-item" src="./assets/kendoui-logo.png" alt="Kendo UI logo" />
    </div>
    <div class="item-description fourth-bg-color">
      <div class="item-description-header">
        <h3>Kendo UI for jQuery</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">
      <img class="photo-item" src="./assets/highcharts-logo.png" alt="Highcharts logo" />

    </div>
    <div class="item-description fourth-bg-color">
      <div class="item-description-header">
        <h3>Highcharts</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">

      <img class="photo-item" src="./assets/reactjs-logo.png" alt="ReactJS logo" />
    </div>
    <div class="item-description primary-bg-color">
      <div class="item-description-header">
        <h3>ReactJS</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
  <div class="content-item item-xl photo-item-wrapper">
    <div class="image-container">

      <img class="photo-item" src="./assets/redux-logo.png" alt="Redux logo" />
    </div>
    <div class="item-description third-bg-color">
      <div class="item-description-header">
        <h3>Redux</h3>
        <p>12 months</p>
      </div>
      <div class="item-description-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam odio temporibus aut quo, beatae nulla, iusto provident
        laudantium accusamus nam repellat eum ratione voluptates ab, sed molestias iure similique cumque.
      </div>
    </div>
  </div>
</div>