<div class="content-item item-xl">
  <div class="item-header primary-bg-color">
      <i class="material-icons">school</i>Education</div>
  <div class="item-content pro-info-wrapper">
      <div class="pro-info-item">
          <h3 class="pro-info-header">FPT University</h3>
          <div class="pro-info-period">2012 - 2016</div>
          <div class="pro-info-description">
              FPT University is the private university in Vietnam. It is a member of FPT Group and has campuses in Hanoi (main), Ho Chi Minh
              City and Da Nang. FPT University gave me a strong basic knowlegde and also gave me a big change to improve my English.
          </div>
      </div>
  </div>
</div>
<div class="content-item item-xl">
  <div class="item-header secondary-bg-color">
      <i class="material-icons">work</i>Work Experience</div>
  <div class="item-content pro-info-wrapper">
      <div class="pro-info-item">
          <h3 class="pro-info-header">PET-ICT</h3>
          <div class="pro-info-period">March 2017 - Present</div>
          <div class="pro-info-description">
              My current client is a Malaysia Oil and Gas company - ranked among Fortune Global 500's largest corporations in the world.
              I am working with the client directly in their head office which is located in Kuala Lunpur,
              Malaysia.
          </div>
      </div>
      <div class="pro-info-item">
          <h3 class="pro-info-header">MSR</h3>
          <div class="pro-info-period">6 months</div>
          <div class="pro-info-description">
              The Japanese software company - my first upgrading project. Working for the MSR was a good experience for me overall. I learned
              how to take care of my work to ensure that everything was perfect, to ensure a high quality
              (UI and UX) in a limited time.
          </div>
      </div>
      <div class="pro-info-item">
          <h3 class="pro-info-header">Wisky</h3>
          <div class="pro-info-period">13 months</div>
          <div class="pro-info-description">The Vietnamese Product company. I got my first full-time job in Wisky. Wisky gave me a lot of
              changes and lessons.</div>
      </div>
      <div class="pro-info-item">
          <h3 class="pro-info-header">HAL-IT</h3>
          <div class="pro-info-period">3 months</div>
          <div class="pro-info-description">The American multinational corporation - my first foreign client. One of the world's largest
              oil field service companies, it has operations in more than 70 countries. I had an beautiful
              and unforgettable memories for my intership.</div>
      </div>
  </div>
</div>