<div class="professional-info content-panel">
  <app-experience></app-experience>

  <div class="content-item mobile-xl">
    <div class="item-header third-bg-color">
      <i class="material-icons">spellcheck</i>Language</div>
    <div class="item-content pro-info-wrapper">
      <div class="pro-info-item">
        <h3 class="pro-info-header">Vietnamese</h3>
        <div class="pro-info-period">Native</div>
      </div>
      <div class="pro-info-item">
        <h3 class="pro-info-header">English</h3>
        <div class="pro-info-period">Fluent</div>
      </div>
    </div>
  </div>
  
</div>
<!-- End: Professional Info  -->