<div class="info-item">
  <h3 class="info-title">
      Contact
  </h3>
  <div class="info-content">
      <div class="contact-info">
          <div>Phone: </div>
          <ul>
              <li>
                  <a class="phone" href="tel:+841657639679">
                      <i class="material-icons">local_phone</i> (+84)-1657-639-679 </a>
              </li>
              <li>
                  <a class="phone" href="tel:+601116290351">
                      <i class="material-icons">local_phone</i> (+60)-111-629-6351</a>
              </li>
          </ul>
      </div>
      <div class="contact-info">
          <div>Address: </div>
          <ul>
              <li>
                  <address>
                      <i class="material-icons">place</i> Cu Chi, Ho Chi Minh City, Vietnam
                  </address>

              </li>
              <li>
                  <address>
                      <i class="material-icons">place</i> Bukit Bintang, Kuala Lumpur, Malaysia
                  </address>
              </li>
          </ul>
      </div>
      <div class="contact-info">
          <div>Email: </div>
          <ul>
              <li>
                  <a class="email" href="mailto:duydt2208@gmail.com">
                      <i class="material-icons">email</i> duydt2208@gmail.com</a>
              </li>
          </ul>
      </div>
      <div class="contact-info">
          <div>Online Contact: </div>
          <ul class="social-accounts">
              <li class="account">
                  <a target="_blank" href="https://www.facebook.com/DuyDoan08">
                      <img class="icon-img" src="../../../../assets/fb-icon.svg" alt="FB_Icon" /> /DuyDoan08</a>
              </li>
              <li class="account">
                  <a>
                      <img class="icon-img" src="../../../../assets/skype-icon.svg" alt=""> duydt2208</a>
              </li>
          </ul>
      </div>

  </div>
</div>