<div class="content">
  <app-personal-info [ngClass]="{'mobile-hidden': (selectedPage | async) != 1, 'personal': (selectedPage | async) == 1 }">
  </app-personal-info>

  <nav class="navigation">
      <a routerLink="/professional" class="btn-nav" (click)="changePage(2)" [ngClass]="{'selected': (selectedPage | async) == 1 || (selectedPage | async) == 2}">
        Experience
      </a>
      <a routerLink="/technical" class="btn-nav" (click)="changePage(3)" [ngClass]="{'selected': (selectedPage | async) == 3}">
        Technical
      </a>
      <a routerLink="/interest" class="btn-nav" (click)="changePage(4)" [ngClass]="{'selected': (selectedPage | async) == 4}">
        Interest
      </a>
  </nav>


  <nav class="mobile-nav">
    <a routerLink="/personal" class="btn-nav" (click)="changePage(1)" [ngClass]="{'selected': (selectedPage | async)  == 1}">
      <i class="material-icons">account_circle</i>
    </a>
    <a routerLink="/professional" class="btn-nav" (click)="changePage(2)" [ngClass]="{'selected': (selectedPage | async)  == 2}">
      <i class="material-icons">work</i>
    </a>
    <a routerLink="/technical" class="btn-nav" (click)="changePage(3)" [ngClass]="{'selected': (selectedPage | async)  == 3}">
      <i class="material-icons">build</i>
    </a>
    <a routerLink="/interest" class="btn-nav" (click)="changePage(4)" [ngClass]="{'selected': (selectedPage | async)  == 4}">
      <i class="material-icons">toys</i>
    </a>
  </nav>

  <app-main-content-wrapper style="width: 100%"></app-main-content-wrapper>
  
</div>