<div class="info-item">
  <h3 class="info-title">
      Expertise
  </h3>
  <div class="info-content expertise-container">
      <div class="expertise-item">
          <i class="material-icons icon">important_devices</i>
          <span class="icon-title">Front-end</span>
      </div>
      <div class="expertise-item">
          <div class="csharp-icon icon">
              C
              <sup>#</sup>
          </div>
          <span class="icon-title">Back-end</span>
      </div>
      <div class="expertise-item">
          <i class="material-icons icon">desktop_windows</i>
          <span class="icon-title">Windows App</span>
      </div>
      <div class="expertise-item">
          <i class="material-icons icon">storage</i>
          <span class="icon-title">MS SQL</span>
      </div>
  </div>
</div>