.primary-bg-color {
  background-color: #4285f4;
}
.secondary-bg-color {
  background-color: tomato;
}
.third-bg-color {
  background-color: #663399;
}
.fourth-bg-color {
  background-color: #26C281;
}
.fifth-bg-color {
  background-color: #F5D76E;
}
